@page
@model FrontEndApp.Pages.RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = null;
}
<h2>@ViewData["Title"]</h2>
<div class="row" ng-controller="RegisterController">
    <div class="col-md-12">
        <form ng-submit="formSubmit()" class="form">
            <div class="col-md-4">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="username" placeholder="username" required="" />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="email" placeholder="email" required="" />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" ng-model="password" placeholder="password" required="" />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-info">Register</button><br>
                    <span class="text-danger" style="color:red">{{ error }}</span>
                </div>
            </div>
        </form>
    </div>
</div>